<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js\AddTrain.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
  <h2>Add Train form</h2>
  {% csrf_token %}
  <div class="container">
    <table>
      <tr>
        <td><label type="train id"><b>Train ID</b></label></td>
        <td><input type="text" id="trainID" name="id" required> </td>
      </tr>
      <tr>
         <td> <label for="color"><b>Train Color</b></label></td>
    <td><input type="text" name="color" id="trainColor" required> <td>
</tr> <tr>
    <td><label for="time"><b>Maximum Trip Time</b></label></td>
    <td><input type="number" name="time" id= "maxTripTime" required> </td>
</tr> 
   
</table>

    <button class='button' type="button" onclick="add();" >ADD</button>

</div>
</body>