<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
{% block title %}<h1>Home page</h1>{% endblock %}

{% block content %}
    {% csrf_token %}
 <h2 id="user"> Welcome  {{ user }} 
 </h2>

  <div><a href="./addtrain.html">
      <input type="button" value="Add Train" class='button'/>
    </a>
  </div>
  <div>
    <a href="./updatetrain.html">
      <input type="button" value="search train" class="button" />
    </a></div>

    <div>
        <a href="./udatescopedtrain.html">
          <input type="button" value="update train" class="button" />
        </a></div>

        <div>
            <a href="./hello.html">
              <input type="button" value="Add trip" class="button" />
            </a></div>
            <div>
              <a href="./tripmodify.html">
                <input type="button" value="Update Trip" class="button" />
              </a></div>


              <div>
                <a href="./showlistt.html">
                  <input type="button" value="List Trips" class="button" />
                </a></div>
  



{% endblock %}