<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/UpdateMyInfo.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/updatetrain.css' %}">
  
  </head>
  <body>  
    <h2>Update Train form</h2>
    {% csrf_token %}
    <div class="container">
      <table>
        <tr>
            <td><label type="user name"><b>New User Name</b></label></td>
            <td><input type="text" id="username" name="username" required> </td>
          </tr>
        <tr>
          <td><label type="password"><b>Old Password</b></label></td>
          <td><input type="password" id="oldPassword" name="oldPassword" required> </td>
        </tr>
        <tr>
           <td> <label for="password"><b>New Password</b></label></td>
      <td><input type="password" name="password" id="newPassword" required> <td>
  </tr> <tr>
      <td><label for="password"><b>Confirm Password</b></label></td>
      <td><input type="password" name="confirmPassword" id= "confirmPassword" required> </td>
  </tr> 

  <tr>
    <td><label for="email"><b>New Email</b></label></td>
    <td><input type="email" name="newEmail" id= "newEmail" required> </td>
</tr> 
     
  </table>
  
      <button class='button' type="button" onclick="updateInfo();" >Save</button>
  
  </div>
  </body>
  