.button{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
    margin-left:220px;
    cursor: pointer;
}

td{
    width: 150px;
    padding: 10px;
    font-size: 18px;
}

h2{
    color: #008CBA;;
}
h1{
    color: #4CAF50;
}
#SI{
    background-color: #4CAF50;
}
.signinbutton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:30px;
    margin-left:220px;
    cursor: pointer;
}